body{
	
	background: linear-gradient(white, #56c0ec, white);
	
	height: 650px;
}

#heading{

	text-align: center;
	background-color: #9B59B6;
	border-radius: 5px;
	color: black;
	font-family: serif;
	padding: 10px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.backimg{

	width:1000px;
	height: 500px;
	margin-left: 170px;
	margin-top: -80px;
	position: relative;


}
.vopening{
	position: relative;
	left: 280px;
    top: 254px;
	z-index: -1;
	text-decoration: underline;
	

}
.input{
	width: 100px;
	height: 40px;
	border-radius: 60%;
	position: relative;
	z-index: 100;
	text-align: center;
	left: 170px;
    top: 286px;
	
}
.pressure{
	position: relative;
	left: 411px;
    top: 209px;
	z-index: -1;
	text-decoration: underline;

}
.pinput{
	width: 100px;
	height: 40px;
	border-radius: 60%;
	position: relative;
	left: 317px;
    top: 240px;
	z-index: 80;
	text-align: center;
	
}
.fcv{
	position: relative;
	left: 270px;
    top: 287px;
	z-index: 100;
	height: 50px;
	width: 120px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;

}
.pt{
	position: absolute;
	left: 385px;
    top: 480px;
	z-index: 100;
	height: 50px;
	width: 120px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
}
.fr{

	position: relative;
	left: 320px;
    top: 209px;
	z-index: -1;
	text-decoration: underline;

}
.fm{
	position: absolute;
	left: 500px;
    top: 490px;
	z-index: 100;
	height: 50px;
	width: 90PX;
	text-align: center;
	font-weight: bold;
	font-size: 12px;

}
.finput{
	width: 100px;
	height: 40px;
	border-radius: 60%;
	position: relative;
	left: 228px;
    top: 240px;
	z-index: 80;
	text-align: center;
}
.tl{

	position: relative;
	left: 128px;
    top: 41px;
	z-index: -1;
	text-decoration: underline;
}

.tinput
{
	width: 100px;
	height: 40px;
	border-radius: 60%;
	position: relative;
	left: 29px;
    top: 74px;
	z-index: 80;
	text-align: center;

}


.vo{

	position: relative;
	left: 251px;
    top: 161px;
	z-index: -1;
	text-decoration: underline;
}
.fcv1{
	position: absolute;
	left: 816px;
    top: 433px;
	z-index: 100;
	height: 50px;
    width: 120PX;
	text-align: center;
	font-weight: bold;
	font-size: 12px;

}
.voinput{
	width: 100px;
	height: 40px;
	border-radius: 60%;
	position: relative;
	left: 139px;
    top: 194px;
	z-index: 80;
	text-align: center;
}

.prs{

	position: relative;
	left: 278px;
    top: 202px;
	z-index: -1;
	text-decoration: underline;
}
.pt1{
	position: absolute;
	left: 1041px;
    top: 477px;
	z-index: 100;
	height: 50px;
    width: 120PX;
	text-align: center;
	font-weight: bold;
	font-size: 12px;

}
.p1input{
	width: 100px;
	height: 40px;
	border-radius: 60%;
	position: relative;
	left: 187px;
    top: 235px;
	z-index: 80;
	text-align: center;
}

.fr1{

	position: relative;
	left: -8px;
    top: 203px;
	z-index: -1;
	text-decoration: underline;
}
.fm1{
	position: absolute;
	left: 957px;
    top: 490px;
	z-index: 100;
	height: 50px;
	width: 90PX;
	text-align: center;
	font-weight: bold;
	font-size: 12px;

}
.f1input{
	width: 100px;
	height: 40px;
	border-radius: 60%;
	position: relative;
	left: -105px;
    top: 235px;
	z-index: 80;
	text-align: center;
}
.sw{
	
	position: absolute;
	color: black;

	z-index: 100;
	left: 10px;
    top: 20px;
    width: 100px;
    height: 30px;
}    