body{
	
	background: linear-gradient(white, #56c0ec, white);
	
	height: 650px;
	
}
#heading{
	text-align: center;
	background-color: #9B59B6;
	border-radius: 5px;
	color: black;
	font-family: serif;
	padding: 10px;
	margin-top: 80px;
	margin-left: 10px;
	margin-right: 10px;
}

.location{
	
	text-decoration: underline;
	margin-left: 200px;
	margin-top: 50px;

}
.operation{
	float: right;
	text-decoration: underline;
	margin-top: -30px;
	margin-right: 370px;
}
.leftside{
	border: 2px dashed black;
	height: 320px;
	margin-left: 80px;
	margin-top: 20px;
}
.rightside{
	
	border: 2px dashed black;
	height: 320px;
	margin-top: 20px;
	margin-left: 20px;
}

.middle{

	border: 2px dashed black;
	height: 320px;
	margin-left: 30px;
	margin-top: 20px;
}
#lsl{

	background-color: green;
	height: 280px;
	color: black;
	border: 2px solid black;
	margin-top: 20px;
	margin-left: 32px;
	padding-top: 30px;
	font-size: 15px;
	padding-left: 5px;

}
.lsr{

	background-color: #C9F36C;
	border: 2px solid black;
	float: right;
	height: 280px;
	margin-left: 10px;
	margin-top: 20px;
	padding-top: 20px;
	color: black;
}
#level1{
	text-align: center;
	text-decoration: underline;
}
#level2{
	text-align: center;
	text-decoration: underline;
}
.level1{
	width: 150px;
	height: 40px;
	background-color: #6150EA;
	color: white;
	text-align: center;
	margin-left: 79px;
}
.level2{
	width: 150px;
	height: 40px;
	background-color: #6150EA;
	color: white;
	text-align: center;
	margin-left: 79px;
}
#XX{
	background-color: #6150EA;
	color: black;
	width: 70px;
	text-align: center;

}
#XX1{
	background-color: #6150EA;
	color: black;
	width: 70px;
	text-align: center;

}
.op{
	    border-radius: 50% !important;
	    background-color: green !important;
	    margin-left: -96px;

}
.cp{
	border-radius: 50% !important;
	    background-color: red !important;
	   
	    margin-left: 105px;
    margin-top: -59px;
}
.vop{
	height: 40px;
	width: 100px;
	background-color: green;
	color: black;
	margin-top: 120px;
	font-weight: bold;
	    margin-left: 30px;

}
.vcp{
height: 40px;
	width: 100px;
	background-color: red;
	color: black;
	float: right;
	margin-top: -40px;
	font-weight: bold;
	    margin-right: 30px;
}

.pervop{
	background-color: lightgreen;
	height: 40px;
	width: 40px;
	border: 2px solid black;
	border-radius: 50%;
	text-align: center;
	margin-top: 20px;
	margin-left: 60px;
	padding-top: 4px;
	color: black;
}
.pervcp{
	background-color: red;
	height: 40px;
	width: 40px;
	border: 2px solid black;
	border-radius: 50%;
	float: right;
	text-align: center;
	margin-top: 20px;
	margin-right: 60px;
	padding-top: 4px;
	color: black;
}
.optn{
	float: right;
	width: 200px !important;
	margin-right: -300px;
	margin-top: 14px;
}
.optn1{
	float: left;
	width: 200px !important;
	margin-left: -150px;
	margin-top: 14px;
}