body{
	background: linear-gradient(white, #56c0ec, white);
	
	height: 650px;
}
.login{
	width: 300px;
	height: 250px;
	border: 1px solid black;
	border-radius: 20px;
	margin-left: 500px;
	padding: 20px;
	
}